{% extends 'rh/dachbord.html.twig' %}

{% block title %}employe cdd{% endblock %}

{% block body %}
<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						
					</div>
                  <div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Fiche d'evaluation :</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
                  <table>
  
                            {% for cdd in cdd %}
                            {% if cdd.getMTR ==cdd.MTR %}
                                {% if cdd.FONC==9 %}
                                

                                       {% for Sessions in Sessions %}
                                          {% if Sessions.MTR == cdd.MTR %}
                                          <table id="basic-datatables"  >
                                          <tr>
                                          <td>
                                          Mtr: {{cdd.MTR}}</br>
                                          Nom Prenom :{{cdd.NOMPRENOM}}</br>
                                          Fonction:{{cdd.FONC}}</br>
                                          Date d'evaluation:{{Sessions.date|date('d/m/Y')}}</br>
                                          {% for responsable in responsable %}
                                           {% if responsable.GSPRMTRC == Sessions.responsable %}
                                          évaluateur :{{responsable.GSPRNOM}}</br></br>
                                           {% endif %}
                                          {% endfor %}
                                          </td>
                                          <td>
                                          <img src="{{ asset('admin/img/logo.png')}}" alt="navbar brand" class="navbar-brand" style="width: 100px;height: 140px; margin-left: 0.2px; ">
                                          </td>
                                          </tr>
                                          <tr> <td><center> Fiche d'evaluation </br>
                                                  N:{{Sessions.numsession}}<br/>
                                                  Note finale :{{Sessions.score|round(1, 'floor') }}/20</center>
                                                  </td>
                                          </tr>
                                          <tr><td><center><hr style="height: 2px; color: #011B44; background-color: #011B44; width: 60%; border: none;"></center></td></tr>

                                          <tr>

                                           <th>criteres</th>
                                           <th>note</th>
                                          </tr>
                                            {% set i=0 %}
                                            {% set j=0 %}
                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Qualite d accueil</b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                               {% if realisation.id in range(66,71) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>
                                        
                                        {% set i=0 %}
                                            {% set j=0 %}
                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">La maitrise des operations de la caisse</b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(72,78) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}
                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>

                                         {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">la conformitee et le respect des procedures</b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(79,84) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>


                                            {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Service a la client?le</b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(85,89) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>


                                       {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Qualite du suivi de la situation client </b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(90,96) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>

                                            {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Fidelisation et developpement de portefeuille client </b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(97,100) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>

                                            {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Qualite de traitement des dossiers credits</b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(101,106) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>

                                            {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Attitudes et comportements au travail </b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(107,114) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>

                                           {% set i=0 %}
                                            {% set j=0 %}

                                            <tr><td style="width: 600px; padding-top:10px; padding-bottom:10px;border: 3px; text-align: center;background: #014487;"><b style="color:#FFFFFF;">Les competences techniques </b></td></tr>
                                            {% for criteres in criteres %}
                                             {% for realisation in realisation %}
                                              {% if realisation.id == criteres.idCritere and criteres.MTR==cdd.MTR and criteres.numsession==cdd.numsession  %}
                                              {% if realisation.id in range(115,117) %}
                                              {% set i=i+criteres.note %}
                                              {% set j=j+1 %}

                                              <tr>
                                               <td>{{realisation.criteres}}</td>
                                               <td>{{criteres.note}}/3</td>
                                            </tr>
                                          {% endif %}
                                           {% endif %}
                                            {% endfor %}
                                             {% endfor %}
                                        <tr><td><b>note activite: </b></td><td><b>{{(i/3)|round(1, 'floor')}}/{{j}}</b></td></tr>



                                        <tr>     
                                         <th> score :</th>
                                         <td>{{ Sessions.score|round(1, 'floor')}}</td>
                                         

                                          {% endif %}
                                       {% endfor %}
                                        {% endif %}
                            {% endif %}
                      {% endfor %}

                                        <tr><td><b>realisation :</b></td></tr>

                                          {% for ObjectifRe in ObjectifRe %}
                                          {% for RealisationCdd in RealisationCdd %}
                                          {% for cdd in cdd %}
                                             {% if RealisationCdd.idObjectif == ObjectifRe.id and ObjectifRe.MTR==cdd.getMTR  %}
                                        <tr> <td>{{ ObjectifRe.objectif|e }} :
                                         {{ RealisationCdd.realisation|e }}</td>
                                         <td>{% if RealisationCdd.valider==-1 %}
                                         non valider
                                          {% endif %}
                                        {% if RealisationCdd.valider==1 %}
                                          valider
                                          {% endif %}
                                          {% if RealisationCdd.valider==NULL %}
                                          en cours ..
                                          {% endif %}
                                          </td></tr>
                                          {% endif %}
                                          {% endfor %}
                                          {% endfor %}
                                          {% endfor %}

                               
                      </table>
                                                              </table>

                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
{% endblock %}
